/inputs/day_01.txt
/inputs/day_02.txt
/inputs/day_03.txt
/inputs/day_04.txt
/inputs/day_05.txt
/inputs/day_06.txt
/inputs/day_07.txt
/inputs/day_08.txt
/inputs/day_09.txt
/inputs/day_10.txt
/inputs/day_11.txt
/inputs/day_12.txt
/inputs/day_13.txt
/inputs/day_14.txt
/inputs/day_15.txt
/inputs/day_16.txt
/inputs/day_17.txt
/inputs/day_18.txt
/inputs/day_19.txt
/inputs/day_20.txt
/inputs/day_21.txt
/inputs/day_22.txt
/inputs/day_23.txt
/inputs/day_24.txt
/inputs/day_25.txt